.root
{
    monokai-red: #f92672;
    monokai-green: #a6e22e;
    monokai-blue: #66d9ef;
    monokai-orange: #fd971f;
    monokai-purple: #ae81ff;
    monokai-black: #1e1e1e;
    monokai-white: #bbbbbb;

    background-color: linear-gradient(monokai-black 0%, monokai-black 25%, monokai-white);

    text-color: monokai-white;

    button-color: #2d2f30;
    button-hover-color: #353739;
    button-focused-color: monokai-blue;

    toolbar-color: #3c3f41;
}

.background
{
    -fx-background-color: background-color;
}

.button
{
	-fx-background-color: button-color;
    -fx-text-fill: text-color;

    -fx-background-radius: 50px;
}

.button:hover
{
    -fx-background-color: button-hover-color;
}

.button:focused
{
    -fx-border-color: button-focused-color;

    -fx-border-radius: 50px;
}

.radio-button
{
    -fx-text-fill: text-color;
}

.radio-button .dot:selected
{
    -fx-border-color: monokai-blue;
    -fx-background-color: monokai-black;
}

.text
{
    -fx-text-fill: text-color;
}

.title
{
    -fx-font-size: 40px;
    -fx-text-fill: text-color;
}

.toolbar
{
    -fx-background-color: toolbar-color;
}