.root
{
    monokai-red: #f92672;
    monokai-green: #a6e22e;
    monokai-blue: #66d9ef;
    monokai-orange: #fd971f;
    monokai-purple: #ae81ff;

    monokai-yellow: #ecbe14;
    monokai-cyan: blue;
    monokai-magenta: red;

    monokai-black: #1e1e1e;
    monokai-grey: #6d6d6d;
    monokai-white: #bbbbbb;

    background-color: linear-gradient(monokai-black 0%, monokai-black 25%, #5a5a5a);

    text-color: monokai-white;

    button-color: #2d2f30;
    button-focused-color: #353739;
    button-hover-color: monokai-blue;

    toolbar-color: #3c3f41;
}

/* BACKGROUND */

.background
{
    -fx-background-color: background-color;
}

/* BUTTONS */

.button
{
	-fx-background-color: button-color;
    -fx-background-radius: 50px;

    -fx-border-color: button-color;
    -fx-border-radius: 50px;

    -fx-text-fill: text-color;
}

.button:hover
{
    -fx-border-color: button-hover-color !important;
}

.button:focused
{
    -fx-background-color: button-focused-color;
    -fx-border-color: button-focused-color;
}

/* RADIO BUTTONS*/

.radio-button
{
    -fx-text-fill: text-color;
}

.radio-button .dot:selected
{
    -fx-background-color: monokai-black;
    -fx-border-color: monokai-blue;
}

/* LABELS */

.text
{
    -fx-text-fill: text-color;
}

.title
{
    -fx-font-size: 40px;
    -fx-text-fill: text-color;
}

/* TEXT FIELDS */

.text-field
{
    -fx-background-radius: 50px;
}

/* TOOLBARS */

.toolbar
{
    -fx-background-color: toolbar-color;
}

.color-red
{
    -fx-background-color: monokai-red;
}

.color-green
{
    -fx-background-color: monokai-green;
}

.color-blue
{
    -fx-background-color: monokai-blue;
}

.color-orange
{
    -fx-background-color: monokai-orange;
}

.color-purple
{
    -fx-background-color: monokai-purple;
}

.color-yellow
{
    -fx-background-color: monokai-yellow;
}

.color-cyan
{
    -fx-background-color: monokai-cyan;
}

.color-magenta
{
    -fx-background-color: monokai-magenta;
}

.color-none
{
    -fx-background-color: monokai-none;
}

.color-black
{
    -fx-background-color: monokai-black;
}

.color-white
{
    -fx-background-color: monokai-white;
}