.background
{
    .text;
    -fx-background-color: #1e1e1e;
}

.button
{
	-fx-background-color: #2d2f30;
    -fx-text-fill: #bbbbbb;
}

.button:hover
{
    -fx-background-color: #353739;
}

.button:focused
{
    -fx-background-color: #4b6eaf;
}

.radio-button
{
    -fx-text-fill: #bbbbbb;
}

.text
{
    -fx-text-fill: #bbbbbb;
}

.title
{
    -fx-font-size: 40 px;
    -fx-text-fill: #bbbbbb;
}

.toolbar
{
    -fx-background-color: #3c3f41;
}
